#addPostForm form {
    
    position: relative;
    left: 530px;
    top: 80px;;
    transition: all 1.5s ease;
    width: 210px;
    height: 100px;
    background-color: rgb(22, 22, 22);
    padding: 30px;
    padding-left: 50px;
    border-radius: 15px;
    margin-bottom: 80px;
    z-index: 1;
}

#ErrorText {
    color: red;
    background-color: rgb(22, 22, 22);
    position: relative;
    bottom: 8px;
}

.styleInputForPost {
    position: relative;
    bottom: 15px;
    background-color: rgb(22, 22, 22);
    color:aliceblue;
    position: relative;
    height: 25px;
    border: rgb(46, 46, 46) solid 2.5px;
    border-radius: 7px;
    text-align: center;
    
}


.labelAddPost {
    font-size: 12px;
    position: relative;
    left: 20px;
    z-index: 3;
    transition: all .4s ease;
    
}

.labelAddPost div {
    background-color: rgb(22, 22, 22);
    width: 76px;
    text-align: center;
    transition: all .4s ease;

    
}

.styleInputForPost:not(:first-child) {
    margin-top: 10px;
}

#PostTextArea {
    height: 35px;
    text-align: left;
}

.ButtonForPublication {
    background-color: rgb(212, 8, 8);
    color: rgb(0, 0, 0);
    height: 30px;
    width:175px;
    border:none;
    border-radius: 3px;
    position: relative;
    left: 0px;
    transition: all .5s ease;
}

.ButtonForPublication:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.ButtonForPublication:active {
    transform: scale(1);
    
}