* {
    color:black
}

body {
    background-color: white;
    margin: 0;
    padding: 0;

}

#MainBlockForReg {
    background-color: rgb(214, 214, 214);
    width: 500px;
    height: 440px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 80px;
    border-radius:40px;
}

form {
    position: relative;
    width: 210px;
    top:0;
    padding-top: 60px;
    padding-left: 40px;
    height: 380px;
    background-color: blueviolet;
    transition: 1.6s ease all;

}

.activeButton {
    background-color: blueviolet;
    color:white;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 175px;
    transition: all .6s ease;
}

#LogIn {
    position: absolute;
    left:40px;
    top: 30px;
    z-index: 2;
}

.RegLabel {
    position: absolute;
    left:290px;
    top: 10px;
    z-index: 2;
    top: 30px;
}

.button {
    background-color: rgb(29, 29, 29);
    color:white;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 175px;
    transition: all .6s ease;
}

#RegButton {
    position: relative;
    top:60px; 
}

.button:hover {
    background-color: rgb(14, 14, 14);
    color:rgb(226, 226, 226);
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 28px;
    border-radius: 6px;
    background-color: rgb(22, 22, 22);
    border: none;
    color: white;
}

input::placeholder{
    color:white
}

.styleLabel {
    position: relative;
    top:20px
}